<% content_for(:title, 'Dashboard') %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= current_user.username %>'s Juices</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<ul>
			<% @juices.each do |juice| %>
				<li><%= link_to juice.name, juice_path(juice) %></li>
			<% end %>
		</ul>
	</div>
</div>
