<% content_for(:title, 'Welcome!') %>

<div class="row">
	<div class="small-12 small-centered medium-10 large-8 columns greeting text-center">
		<h1>Welcome to JuiceVault</h1>
		<h2>JuiceVault is a place to keep track of your juices that you've tried, rate the flavors, remember your favorites, and find reviews of juices by other users.</h2>
		<%= link_to "Sign Up For JuiceVault!", new_user_registration_path, class: 'button primary large' %>
	</div>
</div>
<div class="row">
	<hr>
	<h3 class="recent-title text-center">Most Recent Juices</h3>
	<% @juices.each do |juice| %>
		<div class="small-12 medium-6 large-3 columns sidebar">
			<div class="homepanel">
				<div class="product-image" style="background-image:url(<%= featured_image(juice) %>);"></div>
				<h4 class="juice-name"><%= link_to juice.name, juice_path(juice) %></h4>
				<h6><%= juice.manufacturer %></h6>
			</div>
		</div>
	<% end %>
</div>