<% content_for(:title, 'Welcome!') %>

<div class="row">
	<div class="small-12 columns">
		<h1>JuiceVault</h1>
		<button class="primary">Primary</button>
		<button class="secondary">Secondary</button>
		<button class="alert">Alert</button>
		<button class="success">Success</button>
		<div data-alert class="alert-box primary">
			Primary
		</div>
		<div data-alert class="alert-box secondary">
			Secondary
		</div>
		<div data-alert class="alert-box alert">
			Alert
		</div>
		<div data-alert class="alert-box success">
			Success
		</div>
		<div data-alert class="alert-box warning">
			Warning
		</div>
		<div data-alert class="alert-box info">
			Info
		</div>
	</div>
</div>