<% content_for(:title, 'Welcome!') %>

<div class="row">
	<div class="small-12 small-centered medium-10 large-8 columns greeting text-center">
		<h1>Welcome to JuiceVault</h1>
		<h2>JuiceVault is a place to keep track of your juices that you've tried, rate the flavors, remember your favorites, and find reviews of juices by other users.</h2>
		<%= link_to "Sign Up For JuiceVault!", new_user_registration_path, class: 'button primary large' %>
	</div>
</div>
<div class="row">
	<div class="small-12 hide-for-small medium-3 columns sidebar">
		<div class="homepanel">
			<h3>Track Your Juices</h3>
			<ul>
				<li>Track the juices you've tried</li>
				<li>Rate the juices you've enjoyed and hated</li>
				<li>See what juices your friends are using</li>
			</ul>
		</div>
	</div>
	<div class="small-12 hide-for-small medium-3 columns sidebar">
		<div class="homepanel">
			<h3>Track Your Juices</h3>
			<ul>
				<li>Track the juices you've tried</li>
				<li>Rate the juices you've enjoyed and hated</li>
				<li>See what juices your friends are using</li>
			</ul>
		</div>
	</div>
	<div class="small-12 hide-for-small medium-3 columns sidebar">
		<div class="homepanel">
			<h3>Track Your Juices</h3>
			<ul>
				<li>Track the juices you've tried</li>
				<li>Rate the juices you've enjoyed and hated</li>
				<li>See what juices your friends are using</li>
			</ul>
		</div>
	</div>
	<div class="small-12 hide-for-small medium-3 columns sidebar">
		<div class="homepanel">
			<h3>Track Your Juices</h3>
			<ul>
				<li>Track the juices you've tried</li>
				<li>Rate the juices you've enjoyed and hated</li>
				<li>See what juices your friends are using</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<% @juices.each do |juice| %>
		<div class="small-12 large-3 columns">
			<%= juice.name %>
			<%= juice.manufacturer %>
		</div>
	<% end %>
</div>