<% content_for(:title, 'Welcome!') %>

<div class="row">
	<div class="small-12 columns greeting">
		<h1>JuiceVault</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 large-8 columns">
		<div class="row">
			<div class="small-12 columns panel">
				Hello
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns panel">
				Hello
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns panel">
				Hello
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns panel">
				Hello
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns panel">
				Hello
			</div>
		</div>
	</div>
</div>