// Place all the styles related to the Juices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_mixins_only';

.product-image {
	height: 150px;
	width: 150px;
	overflow: hidden;
	background: white;
	background-size: cover;
	background-position: center center;
	background-repeat: none;
	margin-bottom: .5em;
	@media #{$medium-up} {
		margin-right: 1em;
		float: left;
	}
}
.user-image {
	float: left;
	margin-right: .5em;
}
.description {
	margin: 2em 0;
}
.rating {
	margin-bottom: 1em;
}
.favorite {
	display: table;
	height: 100%;
	margin-top: 1em;
	&.show-juice {
		margin-top: .5em;
	}
	p {
		text-align: center;
		height: 100%;
		.fa-heart, .fa-heart-o {
			vertical-align: middle;
			color: #F53D54;
			font-size: 2em;
		}
	}
}
nav.pagination {
	margin-top: 2em;
	text-align: center;
	font-size: 1.25em;
}