// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_mixins_only';

h1 {
	margin-bottom: .5em;
}

.name {
	h1 {
		small {
			margin: .2em;
			padding: 0;
			display: inline-block;
			color: $body-bg;
		}
	}
}

.container {
	margin-top: 2em;
}

.avatar {
	margin-right: 10px;
	border-radius: 2px;
	border: solid 1px #fff;
}

.greeting {
	margin-bottom: 2em;
	h2 {
		margin: 1em 0;
		font-size: 1.75em;
		line-height: 1.5;
	}
}

.homepanel {
	@include panel(white);
	h3 {
		font-weight: 800;
	}
}

.juicefeed {
	.panel {
		background: scale-color(#fff, $lightness: -3%);
		margin-bottom: 0;
		border-bottom: none;
		padding: 1.5em 2.5em;
		h4, h6 {
			@media #{$large-up} {
				display: inline-block;
			}
		}
		h6 {
			font-style: italic;
			margin-bottom: 1em;
			&:before {
				@media #{$large-up} {
					content: " - ";
				}
			}
		}
		p {
			margin-bottom: 0px;
			&.average-rating {
				margin: .5em 0;
			}
		}
		.label {
			vertical-align: top;
			padding: 0.2em;
			margin-top: 9px;
			margin-left: .5em;
			background-color: #F53D54;
		}
		.rating_display {
			text-align: center;
			@media #{$large-up} {
				text-align: left;
			}
		}
		&:last-child {
			border-bottom: 1px solid #d8d8d8;
		}
	}
}

.sidebar {
	.register, .search, .reviews {
		border-bottom: none;
		input[type=text], .postfix {
			margin-bottom: 0;
		}
		.postfix {
			border: none;
		}
		&:last-child { 
			border-bottom: 1px solid #d8d8d8;
		}
	}
}

footer {
	&.sitefooter {

	}
}