// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_mixins_only';

h1, h2, h3, h4 {
	line-height: 1;
}
h1 {
	font-weight: 800;
	margin-bottom: .5em;
	&.juice-name {
		margin: 0 0 .1em 0;
	}
}
h2 {
	margin-bottom: .5em;
}
h3, h4 {
	font-size: 1em;
	&.h1 {
		font-size: 2em;
	}
}

.name {
	h1 {
		small {
			margin: .2em;
			padding: 0;
			display: inline-block;
			color: $body-bg;
		}
	}
}

.container {
	margin-top: 2em;
}

.avatar {
	margin-right: 10px;
	border-radius: 2px;
	border: solid 1px #fff;
}

.greeting {
	margin-bottom: 2em;
	h2 {
		margin: 1em 0;
		font-size: 1.75em;
		line-height: 1.5;
	}
}

.recent-title {
	font-size: 1.5em;
	margin: 1.5em;
}

.homepanel {
	@include panel(white);
	min-height: 40px;
	h3 {
		font-weight: 800;
	}
	.product-image {
		width: 100%;
	}
}

.juicefeed {
	margin-bottom: 2em;
	.panel {
		background: scale-color(#fff, $lightness: -3%);
		margin-bottom: 0;
		padding: 1.5em 2.4em;
		text-align: left;
		h4 {
			&.juice-name {
				font-weight: 500;
				font-size: 1.2em;
				margin-bottom: .5em;
			}
		}
		h6 {
			font-style: italic;
			margin-bottom: 1.5em;
		}
		p {
			margin-bottom: 0px;
			&.average-rating {
				margin: .5em 0;
			}
		}
		.label {
			vertical-align: top;
			padding: 0.2em;
			margin-top: 9px;
			margin-left: .5em;
			background-color: #F53D54;
		}
		.rating_display {
			text-align: center;
			margin: 0 auto;
			display: block;
			height: 50px;
			width: 146px;
			@media #{$large-up} {
				text-align: left;
				margin: 0;
			}
		}
	}
	footer {
		&.panel-footer {
			background: #d8d8d8;
			display: block;
			padding: 1em 2.4em;
			font-size: .8em;
			margin-bottom: 1em;
		}
	}
}

i {
	&.green-drop {
		color: $primary-color;
	}
}

.sidebar {
	.register, .search, .reviews {
		border-bottom: none;
		input[type=text], .postfix {
			margin-bottom: 0;
		}
		.postfix {
			border: none;
		}
		&:last-child { 
			border-bottom: 1px solid #d8d8d8;
		}
	}
}

footer {
	&.sitefooter {

	}
}